.card-ordinary__header, .card-home__top {
  background-color: #2eca7f;
  background-image: url(../images/sp_main_bg.png);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.intro__social-media__instagram, .intro__social-media__facebook, .intro__social-media__twitter {
  width: 35px;
  height: 35px;
  background-color: #f8f9fa;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

#site-header {
  height: 20vh;
}

.row {
  width: 100%;
}

#sub-pages .card {
  min-height: 564px;
  border-radius: 20px;
  display: none;
}
#sub-pages .card.current-page {
  display: flex;
}

.card-ordinary__header, .card-home__top {
  background-color: #2eca7f;
  background-image: url(../images/sp_main_bg.png);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.intro__social-media__instagram, .intro__social-media__facebook, .intro__social-media__twitter {
  width: 35px;
  height: 35px;
  background-color: #f8f9fa;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

#site-header .navbar .nav-item.active, #site-header .navbar .nav-item:hover {
  color: black;
  border-bottom: 2px solid #2eca7f;
}

#site-header {
  padding: 0;
  background-color: #f8f9fa;
}
#site-header .navbar {
  height: 100%;
  padding: 0;
  position: relative;
  transition: all 0.6s ease-in-out;
}
#site-header .navbar .nav-item {
  margin-left: 20px;
  color: #9e9e9e;
  border-bottom: 2px solid #f8f9fa;
}
#site-header .navbar .nav-item:hover {
  cursor: pointer;
}
#site-header .navbar .nav-item .nav-link {
  padding: 0;
}
#sub-pages {
  background-color: #f8f9fa;
}

.card {
  max-width: 1000px;
}

.highlight-text {
  color: #2eca7f;
}

.card-home {
  padding-bottom: 20px;
}
.card-home__top {
  padding: 50px;
  margin-bottom: 25px;
  height: 290px;
}
.card-home__top__intro {
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-home__top .row {
  height: 100%;
}
.card-home__content {
  padding-left: 35px;
  padding-right: 35px;
  height: auto;
}
.card-home .info-list {
  list-style: none;
  padding: 0;
}
.card-home .info-list__item__title {
  display: inline-block;
  min-width: 120px;
}
.card-home .info-list__item__value {
  color: #9e9e9e;
}

.avatar-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  border: 0;
}

.intro__social-media {
  display: flex;
  justify-content: center;
}
.intro__social-media__twitter {
  background-image: url(../images/social-media-icons/twitter.png);
}
.intro__social-media__facebook {
  background-image: url(../images/social-media-icons/facebook.png);
}
.intro__social-media__instagram {
  background-image: url(../images/social-media-icons/instagram.png);
}

.card-ordinary__header {
  text-align: center;
  margin: 0;
  padding: 30px 50px;
  color: #f8f9fa;
}

/*# sourceMappingURL=style.css.map */
