.home__top, .card-ordinary__header {
  background-color: #2eca7f;
  background-image: url(../images/sp_main_bg.png);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.intro__social-media__instagram, .intro__social-media__facebook, .intro__social-media__twitter {
  width: 35px;
  height: 35px;
  background-color: #f8f9fa;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #212121;
  font-weight: 600;
  line-height: 1.5em;
}

.block-title {
  font-size: 21px;
  margin: 5px 0 25px;
}

.highlight-text {
  color: #2eca7f;
}

p {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
}

.page-container {
  background-color: #f8f9fa;
}

#site-header {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

#sub-pages {
  margin-top: 15vh;
  width: 100%;
  padding-bottom: 50px;
  transform: translate3d(0, 0, 0);
}
#sub-pages .card {
  height: auto;
  max-width: 1032px;
  border-radius: 20px;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
#sub-pages .card.current-page {
  display: flex;
}

.card {
  max-width: 1000px;
}

.card-ordinary__header {
  text-align: center;
  margin: 0;
  padding: 30px 50px;
}
.card-ordinary__header h2 {
  color: #f8f9fa;
  font-size: 44px;
  margin: 0;
}
.card-ordinary__content {
  padding: 30px 50px 50px;
}

#site-header .navbar .nav-item.active, #site-header .navbar .nav-item:hover {
  color: #212121;
  border-bottom: 2px solid #2eca7f;
}

#site-header {
  padding: 0;
  background-color: #f8f9fa;
}
#site-header .container {
  width: 100%;
}
#site-header .row {
  width: 100%;
}
#site-header .navbar {
  height: 100%;
  padding: 0;
  position: relative;
  transition: all 0.6s ease-in-out;
}
#site-header .navbar .nav-item {
  margin-left: 20px;
  color: #9e9e9e;
  border-bottom: 2px solid #f8f9fa;
}
#site-header .navbar .nav-item:hover {
  cursor: pointer;
}
#site-header .navbar .nav-item .nav-link {
  padding: 0;
}
.home {
  padding-bottom: 20px;
}
.home__top {
  padding: 50px;
  margin-bottom: 25px;
  height: 290px;
}
.home__top__intro {
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home__top .row {
  height: 100%;
}
.home__content {
  padding-left: 35px;
  padding-right: 35px;
  height: auto;
}
.home .info-list {
  list-style: none;
  padding: 0;
}
.home .info-list__item__title {
  display: inline-block;
  min-width: 120px;
}
.home .info-list__item__value {
  color: #9e9e9e;
}

.avatar-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  border: 0;
}

.intro__name h1 {
  color: #f8f9fa;
}
.intro__social-media {
  display: flex;
  justify-content: center;
}
.intro__social-media__twitter {
  background-image: url(../images/social-media-icons/twitter.png);
}
.intro__social-media__facebook {
  background-image: url(../images/social-media-icons/facebook.png);
}
.intro__social-media__instagram {
  background-image: url(../images/social-media-icons/instagram.png);
}

.top__list {
  border-left: 2px solid #b8b8b8;
  margin-top: 10px;
  padding: 15px 0;
}
.top__list__item {
  border: 1px solid #f7f7f7;
  border-left: 3px solid #2eca7f;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px #9e9e9e;
  position: relative;
}
.top__list__item::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border: 3px solid #2eca7f;
  border-radius: 50%;
  background-color: #f8f9fa;
  top: 20px;
  left: -32px;
}
.top__list__item::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #2eca7f;
  top: 26px;
  left: -18px;
}

.list__item__info__date {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #2eca7f;
  margin-bottom: 8px;
}
.list__item__info__location {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #9e9e9e;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #9e9e9e;
}

.skill {
  flex-grow: 1;
  margin-top: 20px;
}
.skill__list h4 {
  font-size: 0.8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
}
.skill__list__percentage {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.skill__list__percentage .percentage-bar {
  background-color: #2eca7f;
  height: 10px;
  padding: 0;
}

.skill-1 {
  width: 88%;
}

.skill-2 {
  width: 75%;
}

.skill-3 {
  width: 60%;
}

.skill-4 {
  width: 95%;
}

.skill-5 {
  width: 75%;
}

.skill-6 {
  width: 92%;
}

.service-item {
  text-align: center;
}
.service-item__image {
  width: 120px;
  height: 120px;
  background-color: #f8f9fa;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.service-item__image:hover {
  transform: translateY(-7px);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
}
.service-item__image img {
  max-width: 100px;
  height: 64px;
  margin: 28px 0;
}
.service-item h4 {
  font-size: 17px;
  padding: 20px 0 0;
}

.client-item {
  text-align: center;
  padding: 5px 0;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}
.client-item:hover {
  opacity: 1;
}
.client-item img {
  max-width: 80px;
}

.blog-item {
  padding: 15px;
}

.blog-card {
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.blog-card__intro {
  padding: 0.8em 1.2em 1.4em;
}
.blog-card__intro h4 {
  font-size: 1em;
}
.blog-card__intro a {
  text-decoration: none;
  outline: none;
}
.blog-card__intro a:hover {
  text-decoration: none;
}
.blog-card__intro__category {
  color: #9e9e9e;
  font-size: 0.8em;
  font-weight: 400;
}
.blog-card__intro__title {
  color: #212121;
  margin: 0;
  margin-top: 5px;
}
.blog-card__media {
  background-image: url(../images/text-file-icon.png);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #525252;
}
.blog-card__media:hover img {
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}
.blog-card__media .blog-date {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 0.3em;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 1em;
  min-width: 44px;
  transition: all 0.2s ease-in-out;
}
.blog-card__media .blog-date span {
  display: block;
  color: #2eca7f;
  line-height: 1;
  font-size: 12px;
  margin: 0;
}
.blog-card__media .blog-date .day {
  font-size: 21px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.blog-card__media .blog-date .month {
  font-weight: 400;
  margin-bottom: 3px;
}

/*# sourceMappingURL=style.css.map */
