$primary-color: #2eca7f;
$secondary-color:#f8f9fa;
$third-color: #9e9e9e;
$primary-text-color: #212121;

%main-background{
    background-color: $primary-color;
    background-image: url(../images/sp_main_bg.png);
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

%social-media-icon{
    width: 35px;
    height: 35px;
    background-color: $secondary-color;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: $primary-text-color;
    font-weight: 600;
    line-height: 1.5em;
}

.block-title{
    font-size: 21px;
    margin: 5px 0 25px;
}

.highlight-text{
    color: $primary-color;
}

p {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
}

img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
}

