
%active-navbar-text{
    color: $primary-text-color;
    border-bottom: 2px solid $primary-color;
}

//-----------------navigation bar---------------

#site-header{
    padding: 0;
    background-color: $secondary-color;

    .container{
        width: 100%;
    }

    .row{
        width: 100%;
    }

    .navbar{
        height: 100%;
        padding: 0;
        position: relative;
        transition: all 0.6s ease-in-out;

        .nav-item{
            margin-left: 20px;
            color: $third-color;
            border-bottom: 2px solid $secondary-color;
           
            &:hover{
                @extend %active-navbar-text;
                cursor: pointer;
            }    
        
            .nav-link{
                padding: 0;
            }
        }

        .nav-item.active{
            @extend %active-navbar-text;
        }
    }
}


//-----------Home page-------------

.home{
    padding-bottom: 20px;
    &__top{
        padding: 50px;
        margin-bottom: 25px;
        height: 290px;
        @extend %main-background;

        &__intro{
            color: $secondary-color;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .row{
            height: 100%;
        }
    }

    &__content{
        padding-left: 35px;
        padding-right: 35px;
        height: auto;
    }
        .info-list{
            list-style: none;
            padding: 0;
            &__item{
                &__title{
                    display: inline-block;
                    min-width: 120px;
                }
                &__value{
                    color: $third-color;
                }
            }
        }
}

.avatar-image{
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    border: 0;
}


.intro{
    &__name{
        h1{
            color: $secondary-color;
        }
    }

    &__social-media{
        display: flex;
        justify-content: center;
    
        &__twitter{
            @extend %social-media-icon;
            background-image: url(../images/social-media-icons/twitter.png);
        }
        &__facebook{
            @extend %social-media-icon;
            background-image: url(../images/social-media-icons/facebook.png);
        }
        &__instagram{
            @extend %social-media-icon;
            background-image: url(../images/social-media-icons/instagram.png);
        }
    }
}


//------------Resume page------------------

.top__list{
    border-left: 2px solid lighten($color: $third-color, $amount: 10%);
    margin-top: 10px;
    padding: 15px 0;

    &__item{
        border: 1px solid lighten($color: $third-color, $amount: 35%);
        border-left: 3px solid $primary-color;
        padding: 15px 20px 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 3px $third-color; 
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border:3px solid $primary-color;
            border-radius: 50%;
            background-color: $secondary-color;
            top: 20px;
            left: -32px;
        }
        &::after{
            content: '';
            position: absolute;
            height: 3px;
            width: 15px;
            background-color: $primary-color;
            top: 26px;
            left: -18px;
        }
    }
}

.list__item__info{
    &__date{
        display: inline-block;
        font-size: 12px;
        line-height: 1.2em;
        color: $primary-color;
        margin-bottom: 8px;
    }
    &__location{
        display: inline-block;
        font-size: 12px;
        line-height: 1.2em;
        color: $third-color;
        margin-left: 5px;
        margin-bottom: 8px;
        padding-left: 8px;
        border-left: 1px solid $third-color;
    }
}

.skill{
    flex-grow: 1;
    margin-top: 20px;

    &__list{
        h4{
            font-size: 0.8em;
            line-height: 1.1em;
            position: relative;
            margin: 0 0 5px;
        }

        &__percentage{
            background-color: #f5f5f5;
            border: 1px solid #e0e0e0;
            box-sizing: border-box;
            height: 12px;
            margin-bottom: 12px;
            width: 100%;

            .percentage-bar{
                background-color: $primary-color;
                height: 10px;
                padding: 0;
            }
        }
    }
}

.skill-1{
    width: 88%;
}
.skill-2{
    width: 75%;
}
.skill-3{
    width: 60%;
}
.skill-4{
    width: 95%;
}
.skill-5{
    width: 75%;
}
.skill-6{
    width: 92%;
}


//------------Service page------------------

.service-item{
    text-align: center;

    &__image{
        width: 120px;
        height: 120px;
        background-color: $secondary-color;
        border-radius: 50%;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateY(-7px);
            box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
        }
    
        img{
            max-width: 100px;
            height: 64px;
            margin: 28px 0;
        }
    }

    h4{
        font-size: 17px;
        padding: 20px 0 0;
    }
}

.client-item{
    text-align: center;
    padding: 5px 0;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }

    img{
        max-width: 80px;
    }
}