
.page-container{
    background-color: $secondary-color;
}

#site-header{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
    transition: all 0.2s ease-in-out;
}


#sub-pages{
    margin-top: 15vh;
    width: 100%;
    padding-bottom: 50px;
    transform: translate3d(0, 0, 0);

    .card{
        // min-height: 564px;
        height: auto;
        max-width: 1032px;
        border-radius: 20px;
        padding-left: 0;
        padding-right: 0;
        display: none;
    }
    .card.current-page{
        display: flex;
    }
}

.card{
    max-width: 1000px;
}



//-----------ordinary card-------------

.card-ordinary{
    &__header{
        @extend %main-background;
        text-align: center;
        margin: 0;
        padding: 30px 50px;
        h2{
            color: $secondary-color;
            font-size: 44px;
            margin: 0;
        }
    }

    &__content{
        padding: 30px 50px 50px;
    }
}